config = {
    "google_api_key": "AIzaSyDqP8i4LLAJbx7Bb510R8u05yUCe-KLj_c",
    "youtube_playlist_id": "PLkFD6_40KJIwhWJpGazJ9VSj9CFMkb79A",
    "kafka": {
        "bootstrap.servers": "<your serve>",
        "security.protocol": "sasl_ssl",
        "sasl.mechanism": "PLAIN",
        "sasl.username": "<your key>",
        "sasl.password": "<your secret>",
    },
    "schema_registry": {
        "url": "<your SR server>",
        "basic.auth.user.info": "<your SR key>:<your SR secret>",
    }
}
